<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="100" alt="Xima Logo" src="./../assets/xima-logo-02.png" />
  <span>
    <a routerLink="/welcome" routerLinkActive="active">Welcome</a>
  </span>
  <div class="spacer"></div>
  <span>
    <a routerLink="/search" routerLinkActive="active">Search</a>
  </span>
  <div class="spacer"></div>
  <span>
    <a routerLink="/docs" routerLinkActive="active">Documentation</a>
  </span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
